/* Structure */
table {
}
.tablebox {
}
.body {
  padding: 20px;
  background-color: white;
  width: 80vw;
  height: 80vh;
  margin-left: 10vw;
  margin-top: 5vh;
}

// .mat-mdc-form-field {
//   font-size: 14px;
//   width: 100%;
// }
