<div class="body">
  <h1>Login</h1>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <input
      type="username"
      matInput
      placeholder="max mustermann"
      [(ngModel)]="loginService.membername"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <mat-icon matPrefix>key</mat-icon>
    <input
      type="password"
      matInput
      [(ngModel)]="loginService.memberpw"
    />
  </mat-form-field>
  <div class="buttongroup">
    <button mat-raised-button color="primary"  (click)="this.loginService.login()">
      Login
    </button>
    <button mat-raised-button color="primary" routerLink="/login" (click)="this.loginService.register()">
      Register
    </button>
  </div>
</div>
