<!-- <mat-form-field class="filterbox">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field> -->


<div class="body">
  <h1>Stocks</h1>

  <div class="formdiv">
    <form class="add-form">
      <mat-form-field appearance="fill">
        <mat-label>Ingredient</mat-label>
        <mat-select [(ngModel)]="stockService.ingredient_choice" name="ingredient">

          <mat-option *ngFor="let element of this.ingredientService.ingredientList " [value]="element.id">
            {{ element.name }}
          </mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="stockService.amount_choice" name="amount">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Unit</mat-label>
        <mat-select [(ngModel)]="stockService.unit_choice" name="unit">

          <mat-option value="ml">ml</mat-option>
          <mat-option value="g">g</mat-option>
          <mat-option value="pieces">pcs</mat-option>


        </mat-select>
      </mat-form-field>
        <button mat-raised-button color="primary" (click)="this.stockService.createStock()">ADD</button>
    </form>
  </div>

  <div class="tablebox">
    <table mat-table [dataSource]="this.stockService.stockDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.ingredientname }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element"> <input [name]="element.id" #inputref [placeholder]="element.amount" (keyup.enter)="this.stockService.updateAmount(element.id,inputref.value)"></td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>Unit</th>
        <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let element">{{ element.userid }}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><button mat-mini-fab color="primary"
            (click)="this.stockService.delete(element.id)"><mat-icon>delete</mat-icon></button>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr> -->
    </table>
  </div>